# virtual environment
.venv/

# compiled cache
__pycache__/
*.py[cod]


# add ignore stuff for Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive variable definitions and local overrides
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
